/* @import url("https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css"); */
/* @import url("https://unpkg.com/@tailwindcss/typography@0.2.x/dist/typography.min.css"); */
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Euphoria+Script&family=Just+Another+Hand&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

#project::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0);
}

#project {
  height: 100%;
  width: 100%;
}

#project:hover #text-container {
  opacity: 1;
}

#article-container {
  position: relative;
}

#project:hover #article-container {
  background: rgba(0, 0, 0, 0.5);
}

#text-container {
  position: relative;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.5s ease;
  margin: 1em;
  background: rgba(0, 0, 0, 0.8);
}

#text-container:hover {
  opacity: 1;
}
