/* @import url("https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css"); */
/* @import url("https://unpkg.com/@tailwindcss/typography@0.2.x/dist/typography.min.css"); */
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@media (orientation: portrait) {
  #about-section {
    display: block;
  }
}

@media (orientation: portrait), (max-width: 670px) {
  #social-icons {
    margin-right: auto;
  }
}
